html {
  min-height 100%
}

* {
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box
}

body {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 50px;
  font-family: 'HelveticaNeue-Medium', Arial;
}

img {
  max-width: 100%;
}

i {
  font-family: HelveticaNeue-MediumItalic
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex_center {
  justify-content: center;
}
